<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Info</title>
</head>
<body>
<h3>Hi! Welcome to CMPE 285 HW2: Python Finance Info!</h3>
<h4> Submitted by: Avni Gulati |
    SJSU ID: 011498227</h4>
    <form method="post">
        <p>Enter Symbol.</p>
        <input name="text">
        <input type="submit"> <br>
        <p>Output</p>
            <div id= 'current_date'>{{  items['current_date'] }}</div>
            <div id= 'symbol'>{{ items['long_name'] }} {{  items['symbol'] }}</div>
            <div id = 'change_val'>{{ items['change_val'] }}</div>
    </form>

</body>
</html>